<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Document</title>
<link rel="icon" type="image/png" sizes="16x16"
	th:href="@{images/favicon.ico}">
    <link th:href="@{css/style.min.css}" rel="stylesheet">
    <link rel="stylesheet"
          th:href="@{css/dataTables.bootstrap4.css}">
    <link rel="stylesheet"
          th:href="@{css/responsive.dataTables.min.css}">
</head>

<body class="skin-megna fixed-layout">
	<div id="main-wrapper">
		<header class="topbar" th:replace="fragments :: header"></header>
		<aside class="left-sidebar" th:replace="fragments :: menu"></aside>
		<div class="page-wrapper">
			<div class="container-fluid">
				<div class="row page-titles">
					<div class="col-md-5 align-self-center">
						<h4 class="text-themecolor">CREATE INJECTION SCHEDULE</h4>
					</div>
					<div class="col-md-7 align-self-center text-right">
						<div class="d-flex justify-content-end align-items-center">
							<ol class="breadcrumb">
								<li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
								<li class="breadcrumb-item active">Create Injection
									Schedule</li>
							</ol>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-12">
						<div class="card">
							<div class="card-body">
								<form class="needs-validation" name="myForm"
									th:action="@{/admin/result/save}" method="POST"
									th:object="${result}">
									<div class="form-row">
										<div class="col-md-4 mb-3">
											<div class="card-title">
												Injection Schedult <span class="text-danger">(*)</span>
											</div>
											<select class="form-control custom-select "
												th:field="*{injectionSchedule}" id="selectCustomer"
												name="injectionSchedule" th:errorClass="is-invalid">
												<th:block th:each="ins : ${schedules}">
													<option th:value=${ins.injectionScheduleId}>
														[[${ins.injectionScheduleId}]]-[[${ins.customer.fullName}]]-[[${ins.vaccine.vaccineName}]]</option>
												</th:block>
											</select>
											<div th:if="${#fields.hasErrors('injectionSchedule')}"
												th:errors="*{injectionSchedule}" class="invalid-feedback"></div>
										</div>
									</div>
									<div class="form-row">
										<div class="col-md-4 mb-3">
											<div class="card-title">
												Employee <span class="text-danger">(*)</span>
											</div>
											<select class="form-control custom-select "
												th:errorClass="is-invalid" th:field="*{employee}"
												id="selectVaccine">
												<th:block th:each="emp : ${employees}">
													<option th:value=${emp.employeeId}>[[${emp.employeeId}]]-[[${emp.fullName}]]</option>
												</th:block>
											</select>
											<div th:if="${#fields.hasErrors('employee')}"
												th:errors="*{employee}" class="invalid-feedback"></div>
										</div>
									</div>
									<div class="form-row">

										<div class="col-md-4 mb-3">
											<div class="card-title">
												Result <span class="text-danger">(*)</span>
											</div>
											<select class="form-control custom-select "
												th:errorClass="is-invalid" th:field="*{resultInjection}"
												id="selectPlace">
												<option value="1">Đã Tiêm</option>
												<option value="2">Chưa Tiêm</option>
											</select>
											<div th:if="${#fields.hasErrors('resultInjection')}"
												th:errors="*{resultInjection}" class="invalid-feedback"></div>
										</div>
									</div>




									<div class="bot p-t-20">
										<button class="btn btn-success" type="submit">Save</button>
										<button class="btn btn-info" type="reset">Reset</button>
										<button class="btn btn-warning" type="button">
											<a th:href="@{/admin/result/list}" style="color: white">Cancel</a>
										</button>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<footer class="footer" th:replace="fragments :: footer"></footer>
	</div>
	<script th:src="@{js/jquery-3.2.1.min.js} "></script>
	<script th:src="@{js/popper.min.js} "></script>
	<script th:src="@{js/bootstrap.min.js} "></script>
	<script th:src="@{js/perfect-scrollbar.jquery.min.js} "></script>
	<script th:src="@{js/waves.js }"></script>
	<script th:src="@{js/sidebarmenu.js }"></script>
	<script th:src="@{js/custom.min.js }"></script>
	<script th:src="@{js/jquery.sparkline.min.js }"></script>
	<script th:src="@{js/jquery.dataTables.min.js }"></script>
	<script th:src="@{js/dataTables.responsive.min.js} "></script>
	<script th:src="@{js/dataTables.buttons.min.js} "></script>
	<script th:src="@{js/jquery.datetimepicker.full.js}"></script>

</body>
</html>