<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	layout:decorator="layout">

<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Document</title>
<link rel="icon" type="image/png" sizes="16x16"
	th:href="@{images/favicon.ico}">
<link th:href="@{css/style.min.css}" rel="stylesheet">
<link rel="stylesheet" th:href="@{css/dataTables.bootstrap4.css}">
<link rel="stylesheet" th:href="@{css/responsive.dataTables.min.css}">
<link rel="stylesheet" th:href="@{css/user-card.css}">
</head>

<body class="skin-megna fixed-layout">
	<div id="main-wrapper">
		<header class="topbar" th:replace="fragments :: header"></header>
		<aside class="left-sidebar" th:replace="fragments :: menu"></aside>
		<div class="page-wrapper ">
			<div class="container-fluid">
				<div class="row page-titles">
					<div class="col-md-12 align-self-center card-title">
						<marquee behavior="alternate">
							<h4>
								<b>WELCOME TO ANTICOVID-WE ARE HERE FOR YOUR HEALTH</b>
							</h4>
						</marquee>
					</div>
				</div>
				<div class="row">
					<!-- Column -->
					<div class="col-12">
						<div class="card">
							<div class="card-body">
								<div class="row m-t-40">
									<div class="col-md-6 col-lg-2 col-xlg-2">
										<div class="card">
											<div class="box bg-danger text-center">
												<h1 class="font-light text-white">[[${countBos}]]</h1>
												<h6 class="text-white">Total Admins</h6>
											</div>
										</div>
									</div>
									<div class="col-md-6 col-lg-2 col-xlg-2">
										<div class="card">
											<div class="box bg-warning text-center">
												<h1 class="font-light text-white">[[${countEmp}]]</h1>
												<h6 class="text-white">Total Employees</h6>
											</div>
										</div>
									</div>
									<div class="col-md-6 col-lg-2 col-xlg-2">
										<div class="card">
											<div class="box bg-info text-center">
												<h1 class="font-light text-white">[[${countCus}]]</h1>
												<h6 class="text-white">Total Customers</h6>
											</div>
										</div>
									</div>
									<div class="col-md-6 col-lg-2 col-xlg-2">
										<div class="card">
											<div class="box bg-success text-center">
												<h1 class="font-light text-white">[[${ccountVac}]]</h1>
												<h6 class="text-white">Total Vaccines</h6>
											</div>
										</div>
									</div>
									<!-- Column -->
									<div class="col-md-6 col-lg-2 col-xlg-2">
										<div class="card">
											<div class="box bg-dark text-center">
												<h1 class="font-light text-white">[[${countSchedule}]]</h1>
												<h6 class="text-white">Total Injection Schedules</h6>
											</div>
										</div>
									</div>
									<div class="col-md-6 col-lg-2 col-xlg-2">
										<div class="card">
											<div class="box bg-primary text-center">
												<h1 class="font-light text-white">[[${countResult}]]</h1>
												<h6 class="text-white">Total Injection Results</h6>
											</div>
										</div>
									</div>
									<!-- Column -->
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row el-element-overlay">
					<div class="col-md-12" style="text-align:center">
						<h4 class="card-title"><b>FIVE FOUNDERS</b></h4>
						<h6 class="card-subtitle m-b-20 text-muted">Handsome</h6>
					</div>
					<div class="col-lg-1 col-md-6"></div>
					<div class="col-lg-2 col-md-6">
						<div class="card">
							<div class="el-card-item">
								<div class="el-card-avatar el-overlay-1">
									<img th:src="@{/images/tung-1.jpg}" alt="user">
									<div class="el-overlay">
										<ul class="el-info">
											<li><a
												class="btn default btn-outline image-popup-vertical-fit"
												th:href="@{/images/tung-1.jpg}"> <i
													class="icon-magnifier"></i>
											</a></li>
											<li><a class="btn default btn-outline"
												href="javascript:void(0);"> <i class="icon-link"></i>
											</a></li>
										</ul>
									</div>
								</div>
								<div class="el-card-content">
									<h4 class="box-title">HUY</h4>
									<small>EMPLOYEE</small> <br>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-2 col-md-6">
						<div class="card">
							<div class="el-card-item">
								<div class="el-card-avatar el-overlay-1">
									<img th:src="@{/images/tung-1.jpg}" alt="user">
									<div class="el-overlay">
										<ul class="el-info">
											<li><a
												class="btn default btn-outline image-popup-vertical-fit"
												th:href="@{/images/tung-1.jpg}"> <i
													class="icon-magnifier"></i>
											</a></li>
											<li><a class="btn default btn-outline"
												href="javascript:void(0);"> <i class="icon-link"></i>
											</a></li>
										</ul>
									</div>
								</div>
								<div class="el-card-content">
									<h4 class="box-title">TUÂN</h4>
									<small>EMPLOYEE</small> <br>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-2 col-md-6">
						<div class="card">
							<div class="el-card-item">
								<div class="el-card-avatar el-overlay-1">
									<img th:src="@{/images/tung-1.jpg}" alt="user">
									<div class="el-overlay">
										<ul class="el-info">
											<li><a
												class="btn default btn-outline image-popup-vertical-fit"
												th:href="@{/images/tung-1.jpg}"> <i
													class="icon-magnifier"></i>
											</a></li>
											<li><a class="btn default btn-outline"
												href="javascript:void(0);"> <i class="icon-link"></i>
											</a></li>
										</ul>
									</div>
								</div>
								<div class="el-card-content">
									<h4 class="box-title">HẬU</h4>
									<small>ADMIN</small> <br>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-2 col-md-6">
						<div class="card">
							<div class="el-card-item">
								<div class="el-card-avatar el-overlay-1">
									<img th:src="@{/images/tung-1.jpg}" alt="user">
									<div class="el-overlay">
										<ul class="el-info">
											<li><a
												class="btn default btn-outline image-popup-vertical-fit"
												th:href="@{/images/tung-1.jpg}"> <i
													class="icon-magnifier"></i>
											</a></li>
											<li><a class="btn default btn-outline"
												href="javascript:void(0);"> <i class="icon-link"></i>
											</a></li>
										</ul>
									</div>
								</div>
								<div class="el-card-content">
									<h4 class="box-title">DŨNG</h4>
									<small>EMPLOYEE</small> <br>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-2 col-md-6">
						<div class="card">
							<div class="el-card-item">
								<div class="el-card-avatar el-overlay-1">
									<img th:src="@{/images/tung-1.jpg}" alt="user">
									<div class="el-overlay">
										<ul class="el-info">
											<li><a
												class="btn default btn-outline image-popup-vertical-fit"
												th:href="@{/images/tung-1.jpg}"> <i
													class="icon-magnifier"></i>
											</a></li>
											<li><a class="btn default btn-outline"
												href="javascript:void(0);"> <i class="icon-link"></i>
											</a></li>
										</ul>
									</div>
								</div>
								<div class="el-card-content">
									<h4 class="box-title">TÙNG</h4>
									<small>EMPLOYEE</small> <br>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-1 col-md-6"></div>
				</div>
			</div>
		</div>
		<footer class="footer" th:replace="fragments :: footer"></footer>
	</div>
</body>
<script th:src="@{js/jquery-3.2.1.min.js} "></script>
<script th:src="@{js/popper.min.js} "></script>
<script th:src="@{js/bootstrap.min.js} "></script>
<script th:src="@{js/perfect-scrollbar.jquery.min.js} "></script>
<script th:src="@{js/waves.js }"></script>
<script th:src="@{js/sidebarmenu.js }"></script>
<script th:src="@{js/custom.min.js }"></script>
<script th:src="@{js/jquery.sparkline.min.js }"></script>
<script th:src="@{js/jquery.dataTables.min.js }"></script>
<script th:src="@{js/dataTables.responsive.min.js} "></script>
<script th:src="@{js/dataTables.buttons.min.js} "></script>
<script th:src="@{js/jquery.datetimepicker.full.js}"></script>

</html>