<!DOCTYPE html>
<html
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      layout:decorator="layout">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
<link rel="icon" type="image/png" sizes="16x16"
	th:href="@{images/favicon.ico}">
    <title>Login</title>
    <link th:href="@{css/login-register-lock.css}" rel="stylesheet">
    <link th:href="@{css/style.min.css}" rel="stylesheet">
</head>

<body class="skin-default card-no-border">
<section id="wrapper">
    <div class="login-register" style="background-image: url();">
        <div class="login-box card">
            <div class="card-body">
                <form class="form-horizontal form-material" th:action="@{/forgot-password}"
                      method="POST">
                    <h3 class="text-center m-b-20">Forgot PassWord</h3>
                    <div th:if="${error != null}" class="alert alert-warning text-center">[[${error}]]</div>
                    <div th:if="${message != null }" class="alert alert-success text-center">[[${message}]]</div>
                    <div class="form-group ">
						<div class="card-title">Enter e-Mail</div>
                        <div class="col-xs-12">
                            <input class="form-control" type="email" required autofocus
                                   placeholder="Enter your e-mail" name="email">
                        </div>
                    </div>
                    <div class="form-group text-center">
                        <div class="col-xs-12 p-b-20">
                            <button class="btn btn-block btn-lg btn-info btn-rounded"
                                    type="submit">Send</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<!-- ============================================================== -->
<!-- End Wrapper -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- All Jquery -->
<!-- ============================================================== -->
<script th:src="@{js/jquery-3.2.1.min.js}"></script>
<!-- Bootstrap tether Core JavaScript -->
<script th:src="@{js/popper.min.js}"></script>
<script th:src="@{js/bootstrap.min.js}"></script>


</body>

</html>
