<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	layout:decorator="layout">

<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<!-- Tell the browser to be responsive to screen width -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">
<link rel="icon" type="image/png" sizes="16x16"
	th:href="@{images/favicon.ico}">
<title>Login</title>
<link th:href="@{/css/login-register-lock.css}" rel="stylesheet"
	type="text/css">
<link th:href="@{/css/style.min.css}" rel="stylesheet" type="text/css">
</head>

<body class="skin-default card-no-border">
	<section id="wrapper">
		<div class="login-register" style="background-image: url();">
			<div class="login-box card">
				<div class="card-body">
					<form class="form-horizontal form-material" th:action="@{/login}"
						method="POST">
						<h3 class="text-center m-b-20">Sign In</h3>
						<div th:if="${param.error}"
							class="alert alert-warning text-center">Invalid username
							and password</div>
						<div th:if="${param.logout}"
							class="alert alert-success text-center">You have been
							logged out</div>
						<div class="alert alert-success text-center" th:if="${message}"
							th:text="${message}"></div>
						<div class="form-group ">
							<div class="col-xs-12">
								<input class="form-control" type="text" required
									placeholder="Username" name="username">
							</div>
						</div>
						<div class="form-group">
							<div class="col-xs-12">
								<input class="form-control" type="password" required
									placeholder="Password" name="password">
							</div>
						</div>
						<div class="form-group row">
							<div class="col-md-12">
								<div class="d-flex no-block align-items-center">
									<div class="form-check">
										<input type="checkbox" name="remember-me"
											class="form-check-input" /> <label class="form-check-label">Remember
											me</label>
									</div>
									<div class="ms-auto"></div>
								</div>
							</div>
						</div>
						<div class="form-group text-center">
							<div class="col-xs-12 p-b-20">
								<button class="btn btn-block btn-lg btn-info btn-rounded"
									type="submit">Login</button>
							</div>
						</div>
						<div class="form-group m-b-0">
							<div class="col-sm-12 text-center">
								You forgot password? <a th:href="@{/forgot-password}"
									class="text-info m-l-5"><b>Click Now</b></a>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</section>

	<!-- ============================================================== -->
	<!-- End Wrapper -->
	<!-- ============================================================== -->
	<!-- ============================================================== -->
	<!-- All Jquery -->
	<!-- ============================================================== -->
	<script th:src="@{/js/jquery-3.2.1.min.js}"></script>
	<!-- Bootstrap tether Core JavaScript -->
	<script th:src="@{/js/popper.min.js}"></script>
	<script th:src="@{/js/bootstrap.min.js}"></script>


</body>

</html>
