<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thumeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
<link rel="icon" type="image/png" sizes="16x16"
	th:href="@{images/favicon.ico}">
    <link th:href="@{css/style.min.css}" rel="stylesheet">
    <link rel="stylesheet"
          th:href="@{css/responsive.dataTables.min.css}">
</head>

<body class="skin-megna fixed-layout">
<div id="main-wrapper">
    <header class="topbar" th:replace="fragments :: header"></header>
    <aside class="left-sidebar" th:replace="fragments :: menu"></aside>
    <div class="page-wrapper ">
        <div class="container-fluid">
            <div class="row page-titles">
                <div class="col-md-5 align-self-center">
                    <h4 class="text-themecolor">My Profile</h4>
                </div>
                <div class="col-md-7 align-self-center text-right">
                    <div class="d-flex justify-content-end align-items-center">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                            <li class="breadcrumb-item next active"> My Profile</li>
                        </ol>
                    </div>
                </div>
            </div>
            <div class="row">
                <!-- Column -->
                <div class="col-lg-4 col-xlg-3 col-md-5">
                    <div class="alert alert-success text-center"
                         th:if="${message}" th:text="${message}"></div>
                    <div class="card">
                        <div class="card-body">
                            <div class="m-t-30 text-center"><img
                                    src="https://th.bing.com/th/id/OIP.RX4f2oEwDlZtLPBlwp4_iQHaJR?pid=ImgDet&rs=1"
                                    class="img-circle" width="150">
                                <h4 class="card-title m-t-10">[[${employee.fullName}]]</h4>
                                <h4 class="card-title" sec:authentication="principal.authorities">Roles</h4>
                            </div>
                        </div>
                        <div>
                            <hr>
                        </div>
                        <div class="card-body text-center">
                            <small class="text-muted">Email </small>
                            <h5>[[${employee.email}]]</h5>
                            <small class="text-muted p-t-30 db">Birthday</small>
                            <h5>[[${employee.birthDate}]]</h5>
                            <small class="text-muted p-t-30 db">Phone</small>
                            <h5>[[${employee.phone}]]</h5>
                            <small class="text-muted p-t-30 db">Gender</small>
                            <h5>[[${employee.gender}]]</h5>
                            <small class="text-muted p-t-30 db">Address</small>
                            <h5>[[${employee.address}]]</h5>
                            <small class="text-muted p-t-30 db">WorkPlace </small>
                            <h5>[[${employee.place.placeName}]]</h5>
                        </div>
                    </div>
                </div>
                <!-- Column -->
                <!-- Column -->
                <div class="col-lg-8 col-xlg-9 col-md-7">
                    <div class="card">
                        <!-- Nav tabs -->
                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div class="tab-pane active" id="settings" role="tabpanel">
                                <div class="card-body">
                                    <form class="form-horizontal form-material"
                                          th:action="@{/admin/update}" method="POST"
                                          th:object="${employee}">
                                        <div class="form-group">
                                            <label class="col-md-12">Full Name</label>
                                            <div class="col-md-12">
                                                <input type="text" th:value="*{fullName}" name="fullName"
                                                       class="form-control form-control-line" placeholder="Fullname" required
                                                       th:errorClass="is-invalid">

                                                <div th:if="${#fields.hasErrors('fullName')}"
                                                     th:errors="*{fullName}" class="invalid-feedback"></div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-12">BirthDay</label>
                                            <div class="col-md-12">
                                                <input type="date" th:value="*{birthDate}" name="birthDate" required
                                                       class="form-control form-control-line" placeholder="BirthDate"
                                                       th:errorClass="is-invalid">
                                                <div th:if="${#fields.hasErrors('birthDate')}"
                                                     th:errors="*{birthDate}" class="invalid-feedback"></div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-12">Address</label>
                                            <div class="col-md-12">
                                                <input type="text" th:value="*{address}" name="address" required
                                                       class="form-control form-control-line" placeholder="BirthDate"
                                                       th:errorClass="is-invalid">
                                                <div th:if="${#fields.hasErrors('address')}"
                                                     th:errors="*{address}" class="invalid-feedback"></div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-12">Gender</label>
                                            <div class="col-md-12 p-t-5">
                                                <div class="form-check" style="display: flex;">
                                                    <div class="custom-control custom-radio">
                                                        <input value="Male" th:field="${employee.gender}"
                                                               type="radio" id="customRadio1" name="gender"
                                                               class="custom-control-input"> <label
                                                            class="custom-control-label" for="customRadio1">Male</label>
                                                    </div>
                                                    <div class="custom-control custom-radio ml-5">
                                                        <input value="FeMale" th:field="${employee.gender}"
                                                               type="radio" id="customRadio2" name="gender"
                                                               class="custom-control-input"> <label
                                                            class="custom-control-label" for="customRadio2">Female</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-12">Email</label>
                                            <div class="col-md-12">
                                                <input th:value="*{email}" type="email" class="form-control form-control-line "
                                                       readonly="readonly" name="email" placeholder="Email">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-12">Username</label>
                                            <div class="col-md-12">
                                                <input type="text" name="username"  th:value="*{username}"
                                                class="form-control form-control-line" readonly
                                                th:errorClass="is-invalid">
                                                <div th:if="${#fields.hasErrors('username')}"
                                                     th:errors="*{username}" class="invalid-feedback">
                                            </div>
                                        </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-12">Password</label>
                                            <div class="col-md-12">
                                                <input type="password" name="password"
                                                class="form-control form-control-line" placeholder="Password" required
                                                th:errorClass="is-invalid">
                                                <div th:if="${#fields.hasErrors('password')}"
                                                     th:errors="*{password}" class="invalid-feedback">
                                            </div>
                                        </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-12">Phone No</label>
                                            <div class="col-md-12">
                                                <input type="text" class="form-control form-control-line " name="phone"
                                                       readonly="readonly" th:value="*{phone}" placeholder="Phone">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-12">Select WorkPlace</label>
                                            <div class="col-sm-12">
                                                <select class="form-control form-control-line" th:errorClass="is-invalid" th:field="*{place}">
                                                    <th:block th:each="place : ${listPlaces}">
                                                        <option th:text="${place.placeName}" th:value=${place.id}></option>
                                                    </th:block>
                                                </select>
                                                <div th:if="${#fields.hasErrors('place')}"
                                                     th:errors="*{place}" class="invalid-feedback"></div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-sm-12">
                                                <button class="btn btn-success text-white" type="submit">Save</button>
                                                <button class="btn btn-info text-white" type="reset">Reset</button>
                                            </div>
                                        </div>

                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Column -->
            </div>
        </div>
    </div>
    <footer class="footer" th:replace="fragments :: footer"></footer>
</div>
</body>

<script th:src="@{js/jquery-3.2.1.min.js} "></script>
<script th:src="@{js/popper.min.js} "></script>
<script th:src="@{js/bootstrap.min.js} "></script>
<script th:src="@{js/perfect-scrollbar.jquery.min.js} "></script>
<script th:src="@{js/waves.js }"></script>
<script th:src="@{js/sidebarmenu.js }"></script>
<script th:src="@{js/custom.min.js }"></script>
<script th:src="@{js/jquery.sparkline.min.js }"></script>
<script th:src="@{js/jquery.dataTables.min.js }"></script>
<script th:src="@{js/dataTables.responsive.min.js} "></script>
<script th:src="@{js/dataTables.buttons.min.js} "></script>
<script th:src="@{js/jquery.datetimepicker.full.js}"></script>

</html>