<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Document</title>
<link rel="icon" type="image/png" sizes="16x16"
	th:href="@{images/favicon.ico}">
<link th:href="@{css/style.min.css}" rel="stylesheet">
<link rel="stylesheet" th:href="@{css/dataTables.bootstrap4.css}">
<link rel="stylesheet" th:href="@{css/responsive.dataTables.min.css}">
</head>

<body class="skin-megna fixed-layout">
	<div id="main-wrapper">
		<header class="topbar" th:replace="fragments :: header"></header>
		<aside class="left-sidebar" th:replace="fragments :: menu"></aside>
		<div class="page-wrapper">
			<div class="container-fluid">
				<div class="row page-titles">
					<div class="col-md-5 align-self-center">
						<h4 class="text-themecolor">UPDATE INJECTION SCHEDULE</h4>
					</div>
					<div class="col-md-7 align-self-center text-right">
						<div class="d-flex justify-content-end align-items-center">
							<ol class="breadcrumb">
								<li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
								<li class="breadcrumb-item active">Update Injection
									Schedule</li>
							</ol>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-12">
						<div class="card">
							<div class="card-body">
								<form class="needs-validation" name="myForm"
									th:action="@{/admin/schedule/saveUpdate}" method="POST"
									th:object="${schedule}">
									<input type="hidden" th:field="*{injectionScheduleId}"
										name="injectionScheduleId" class="form-control">
									<div class="form-row">
										<div class="col-md-4 mb-3">
											<div class="card-title">
												Customer <span class="text-danger">(*)</span>
											</div>
											<input type="text" class="form-control " readonly
												th:field="*{customer}" name="customer"
												th:value="${customer.customerId}">
										</div>

										<div class="col-md-4 mb-3">
											<div class="card-title">
												Vaccine <span class="text-danger">(*)</span>
											</div>
											<select class="form-control custom-select "
												th:errorClass="is-invalid" th:field="*{vaccine}"
												id="selectVaccine">
												<th:block th:each="vac : ${vaccines}">
													<option th:value=${vac.vaccineId}>[[${vac.VaccineId}]]-[[${vac.vaccineName}]]</option>
												</th:block>
											</select>
											<div th:if="${#fields.hasErrors('vaccine')}"
												th:errors="*{vaccine}" class="invalid-feedback"></div>
										</div>

										<div class="col-md-4 mb-3">
											<div class="card-title">
												Place <span class="text-danger">(*)</span>
											</div>
											<select class="form-control custom-select "
												th:errorClass="is-invalid" th:field="*{place}"
												id="selectPlace">
												<th:block th:each="p : ${places}">
													<option th:value=${p.id}>[[${p.placeName}]]-[[${p.bossName}]]</option>
												</th:block>
											</select>
											<div th:if="${#fields.hasErrors('place')}"
												th:errors="*{place}" class="invalid-feedback"></div>
										</div>

									</div>
									<div class="form-row">
										<div class="col-md-4 mb-3">
											<div class="card-title">Description</div>
											<input type="text" class="form-control "
												th:value="*{description}" name="description"
												th:errorClass="is-invalid" placeholder="Description">
											<div th:if="${#fields.hasErrors('description')}"
												th:errors="*{description}" class="invalid-feedback"></div>
										</div>
										<div class="col-md-4 mb-3">
											<div class="card-title">Number Of Injection <span class="text-danger">(*)</span></div>
											<select class="form-control custom-select "
												th:errorClass="is-invalid" th:field="*{numberOfInjection}"
												id="selectPlace">
												<option value="1">First Injection</option>
												<option value="2">Second Injection</option>
												<option value="3">Third Injection</option>
											</select> <span th:if="${#fields.hasErrors('numberOfInjection')}"
												th:errors="*{numberOfInjection}" class="invalid-feedback"></span>
										</div>
									</div>

									<div class="card-title p-t-10">
										Did you experience any of the following symptoms within 14
										days?
									</div>

									<div class="form-row ">

										<div class="col-sm-6">
											<fieldset id="checkArray">
												<table id="config-table"
													class="table display table-bordered table-striped no-wrap dataTable no-footer dtr-inline"
													role="grid" aria-describedby="config-table_info">
													<thead>
														<tr role="row">
															<th width="90%">Status</th>
															<th width="10%" class="text-center">Yes</th>

														</tr>
													</thead>
													<tbody>
														<tr>
															<td>Fever
															</td>
															<td class="text-center">

																<div class="form-check">
																	<input value="yes" class="form-check-input"
																		th:field="*{fever}" name="fever" type="checkbox"
																		id="flexCheckDefault">
																</div>


															</td>
														</tr>
														<tr>
															<td>Cough
															</td>
															<td class="text-center">

																<div class="form-check">
																	<input value="yes" class="form-check-input"
																		th:field="*{cough}" name="cough" type="checkbox"
																		id="flexCheckDefault1">
																</div>


															</td>
														</tr>
														<tr>
															<td>Shortness Of Breath
															</td>
															<td class="text-center">

																<div class="form-check">
																	<input value="yes" class="form-check-input"
																		th:field="*{shortnessOfBreath}"
																		name="shortnessOfBreath" type="checkbox"
																		id="flexCheckDefault2">
																</div>
															</td>
														</tr>
														<tr>
															<td>SoreThroat
															</td>
															<td class="text-center">
																<div class="form-check">

																	<input value="yes" class="form-check-input"
																		th:field="*{soreThroat}" name="soreThroat"
																		type="checkbox" id="flexCheckDefault3">

																</div>
															</td>
														</tr>
													</tbody>
												</table>
											</fieldset>
										</div>
										<div class="col-sm-6">
											<fieldset id="checkArray1">
												<table id="config-table1"
													class="table display table-bordered table-striped no-wrap dataTable no-footer dtr-inline"
													role="grid" aria-describedby="config-table_info">
													<thead>
														<tr role="row">
															<th width="90%">Status</th>
															<th width="10%" class="text-center">Yes</th>
														</tr>
													</thead>
													<tbody>
														<tr>
															<td>Nausea
															</td>
															<td class="text-center">
																<div class="form-check">

																	<input value="yes" class="form-check-input"
																		th:field="*{nausea}" name="nausea" type="checkbox"
																		id="flexCheckDefault4">

																</div>
															</td>
														</tr>
														<tr>
															<td>Diarrhea 
															</td>
															<td class="text-center">
																<div class="form-check">

																	<input value="yes" class="form-check-input"
																		th:field="*{diarrhea}" name="diarrhea" type="checkbox"
																		id="flexCheckDefault5">

																</div>
															</td>
														</tr>
														<tr>
															<td>Skin Bleeding
															</td>
															<td class="text-center"><div class="form-check">
																	<input value="yes" class="form-check-input"
																		th:field="*{skinBleeding}" name="skinBleeding"
																		type="checkbox" id="flexCheckDefault6">
																</div></td>
														</tr>
														<tr>
															<td>Skin Rash
															</td>
															<td class="text-center"><div class="form-check">
																	<input value="yes" class="form-check-input"
																		th:field="*{skinRash}" name="skinRash" type="checkbox"
																		id="flexCheckDefault7">
																</div></td>


														</tr>
													</tbody>
												</table>
											</fieldset>
										</div>

									</div>

									<div class="bot p-t-20">
										<button class="btn btn-success" type="submit">Save</button>
										<button class="btn btn-info" type="reset">Reset</button>
										<button class="btn btn-warning" type="button">
											<a th:href="@{/admin/schedule/list}" style="color: white">Cancel</a>
										</button>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<footer class="footer" th:replace="fragments :: footer"></footer>
	</div>
	<script th:src="@{js/jquery-3.2.1.min.js} "></script>
	<script th:src="@{js/popper.min.js} "></script>
	<script th:src="@{js/bootstrap.min.js} "></script>
	<script th:src="@{js/perfect-scrollbar.jquery.min.js} "></script>
	<script th:src="@{js/waves.js }"></script>
	<script th:src="@{js/sidebarmenu.js }"></script>
	<script th:src="@{js/custom.min.js }"></script>
	<script th:src="@{js/jquery.sparkline.min.js }"></script>
	<script th:src="@{js/jquery.dataTables.min.js }"></script>
	<script th:src="@{js/dataTables.responsive.min.js} "></script>
	<script th:src="@{js/dataTables.buttons.min.js} "></script>
	<script th:src="@{js/jquery.datetimepicker.full.js}"></script>

</body>
</html>